# Python bytecode
__pycache__/
*.pyc

# Environments
.env
venv/
env/

# Databases and Local Saves
*.db
saves/
*.pkl

# playit.gg Binary
playit*.exe
playit

# OS specific files
.DS_Store
Thumbs.db

echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore

git rm -r --cached "**/__pycache__"